<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Coins list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-item>
    <ion-label>Currency</ion-label>
    <ion-select value="usd" okText="Select" cancelText="Dismiss" 
    [(ngModel)]="selected_curr" (ionChange)="curr_changed($event)">
      <ion-select-option value="usd">USD</ion-select-option>
      <ion-select-option value="eur">EUR</ion-select-option>
      <ion-select-option value="czk">CZK</ion-select-option>
    </ion-select>
    </ion-item>

 
  <ion-searchbar [(ngModel)]="searchTerm" animated></ion-searchbar>
    <ion-list>
      <ion-item>
        <ion-label>Rank</ion-label>
        <ion-avatar style="margin-left:10px"></ion-avatar>
        <ion-label>Coin</ion-label>
    
        <ion-label>Price</ion-label>
      </ion-item>
    <ion-item *ngFor="let coin of coins$| async | filter:searchTerm">
      <ion-label>{{coin.market_cap_rank}}</ion-label>   
      <ion-avatar style="margin-right:10px;">
        <img src="{{coin.image}}">
      </ion-avatar>
      <ion-label class="ion-text-wrap">{{coin.name}}</ion-label>      
      <ion-label class="ion-text-wrap">{{selected_curr}} {{coin.current_price}}</ion-label>   
    </ion-item>
    
  </ion-list>


</ion-content>
