<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Coinlist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated></ion-searchbar>
    <ion-list>
      <ion-item>
        <ion-avatar style="margin-left:10px"></ion-avatar>
        <ion-label>Coin</ion-label>
        <ion-label></ion-label>
        <ion-label>Price</ion-label>
      </ion-item>
    <ion-item *ngFor="let coin of coins$ | async">
      <ion-avatar style="margin-right:10px;">
        <img src="{{coin.image}}">
      </ion-avatar>
      <ion-label class="ion-text-wrap">{{coin.name}}</ion-label>   
      <ion-label style="text-transform: uppercase;" class="ion-text-wrap">{{coin.symbol}}</ion-label>   
      <ion-label class="ion-text-wrap">{{coin.current_price}}</ion-label>   
    </ion-item>
    
  </ion-list>


</ion-content>
